<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipeactivity">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--        카카오 로그인 되려면 이 아래 메니페스트가 필요 android:name=".GlobalApplication"-->
    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyDZ6ZUiheeRxbj0fQV8V4A44mKHPi_GSr0" /> -->
        <!-- 카카오에서 받아온 앱 키를 설정할 메타 데이터 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".restaurant.NearRestaurantActivity" />
        <activity android:name=".recipe.SearchResultActivity" />
        <activity android:name=".recipe.ListActivity" />
        <activity android:name=".MainActivity"/>

        <activity android:name=".KakaoLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>